<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
<h1>タスク一覧</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>概要</th>
        <th>ステータス</th>
    </tr>
    <tr>
        <td th:text="${task.taskId}">__TASK_ID__</td>
        <td th:text="${task.title}">__TITLE__</td>
        <td th:text="${task.isCompleted ? '完了' : '未完了'}">__STATUS__</td>
    </tr>
    <tr>
        <td>2</td>
        <td>トップページの色を変える</td>
        <td>未完了</td>
    </tr>
    </thead>
</table>
</body>
</html>